{% extends 'base.html.twig' %}


{% block body %}

    <div class="container my-5">
        <h1>ESPACE MEMBRE PRIVE</h1>
        <h3>Modification de mon mot de passe</h3>
        {{ form(modifyPwd) }}
    </div>

{% endblock %}
