{% extends 'base.html.twig' %}

{% block body %}

    <div class="container my-5">
        <h1>Espace membre</h1>

        <div class="row">
            <div class="col-md-3">
                {% include 'account/_menu.html.twig' %}    
            </div>
            <div class="col-md-9">        
            <h5>Modification de mot de passe</h5>
                {{ form(modifyPwd) }} 
            </div>            
        </div> 
                 
        {# 1. Formulaire
            1.a : Le mot de passe actuel -> comparer avec le mot de passe en BDD
            1.b : Le nouveau mot de passe
            1.c la confirmation du mot de passe 

        2. Mise à jour en BDD
            2.a : Lui envoyer une petite notification pour confirmation de la modificaion     #}
    </div>
{% endblock %}
